<admin-page-header [title]="'Progress'"></admin-page-header>
<admin-pannel-list>
  <admin-progress-circle
    [name]="'Mein #ffc107'"
    [color]="'#ffc107'"
    [progress]="10"
  ></admin-progress-circle>
  <admin-progress-circle
    [name]="'Mein Fortschritt'"
    [color]="'w3-aqua'"
    [progress]="20"
  ></admin-progress-circle>
  <admin-progress-circle
    [name]="'Mein Fortschritt'"
    [color]="'w3-deep-purple'"
    [progress]="30"
  ></admin-progress-circle>
  <admin-progress-circle
    [name]="'Mein Fortschritt'"
    [color]="'w3-teal'"
    [progress]="40"
  ></admin-progress-circle>
  <admin-progress-circle
    [name]="'Mein Fortschritt'"
    [color]="'w3-green'"
    [progress]="50"
  ></admin-progress-circle>
  <admin-progress-circle
    [name]="'Mein Fortschritt'"
    [color]="'w3-red'"
    [progress]="60"
  ></admin-progress-circle>
  <admin-progress-circle
    [name]="'Mein Fortschritt'"
    [color]="'w3-deep-orange'"
    [progress]="70"
  ></admin-progress-circle>
  <admin-progress-circle
    [name]="'Mein Fortschritt'"
    [color]="'w3-blue-grey'"
    [progress]="80"
  ></admin-progress-circle>
  <admin-progress-circle
    [name]="'Mein Fortschritt'"
    [color]="'w3-indigo'"
    [progress]="90"
  ></admin-progress-circle>
  <admin-progress-circle
    [name]="'Mein Fortschritt'"
    [color]="'w3-khaki'"
    [progress]="100"
  ></admin-progress-circle>
</admin-pannel-list>
